// Fontes
// https://fonts.google.com/share?selection.family=Amatic%20SC:wght@400;700%7CJost:ital,wght@0,400;0,700;1,400;1,700

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Cores
// https://colorhunt.co/palette/cee5d0f3f0d7e0c097ff7878
// https://colorhunt.co/palette/2d24245c3d2eb85c38e0c097

// Imagens
// https://dribbble.com/shots/11433237-Cookies
// https://pattern.monster/sprinkles-1/
// https://www.pexels.com/pt-br/foto/assado-assados-panificados-produtos-de-padaria-4110541/

:root {
  --largura-maxima: 700px;
  --largura-minima: 320px;
  --cor-fundo: #cee5d0;
  --cor-fundo-acao: #ff7878;
  --cor-fundo-secundario: #e0c097;
  --cor-letra: #2d2424;
  --cor-letra-acao: #f3f0d7;
  --cor-letra-secundaria: #b85c38;
  --fonte: 'Jost', sans-serif;
  --fonte-destaque: 'Amatic SC', cursive;
  --texto-minimo: 0.55rem;
  --texto-menor: 0.75rem;
  --texto-padrao: 24px;
  --texto-maior: 1.5rem;
  --texto-maximo: 3rem;
  --bg-granulado: url(./assets/bg.png);
}

html {
  font-size: var(--texto-padrao);
}

body {
  min-width: var(--largura-minima);
  margin: 0;
  padding: 0;
  background: var(--cor-fundo);
  color: var(--cor-letra);
  font-family: var(--fonte);

  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-family: var(--fonte-destaque);
    text-align: center;
  }

  h1 {
    font-size: var(--texto-maximo);
    text-shadow: 0.1rem 0.1rem var(--cor-fundo-acao);
  }

  a {
    text-decoration: none;
    color: var(--cor-letra-acao);
    background-color: var(--cor-fundo-acao);
    padding: 0.5rem;
    border: 0.2rem solid var(--cor-letra-acao);
    border-radius: 0.5rem;
    animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }

  img {
    max-width: 100%;
  }
}

#app {
  display: flex;
  flex-direction: column;
  animation: color-change-2x 5s linear infinite alternate both;
  background-image: var(--bg-granulado);

  .container {
    animation: color-change-2x 5s linear infinite alternate both;
    background-image: none;
    max-width: var(--largura-maxima);
    min-width: var(--largura-minima);
    margin: 0 auto;
    padding: 0 1em;
  }

  .logado,
  .nao-logado,
  .carregando-auth {
    display: none;
  }
}

#content {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin: 1rem auto;
  }
}

// Animações
// animista.net
.shadow-pop-br {
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 var(--cor-letra), 0 0 var(--cor-letra), 0 0 var(--cor-letra),
      0 0 var(--cor-letra), 0 0 var(--cor-letra), 0 0 var(--cor-letra),
      0 0 var(--cor-letra), 0 0 var(--cor-letra);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px var(--cor-letra), 2px 2px var(--cor-letra),
      3px 3px var(--cor-letra), 4px 4px var(--cor-letra),
      5px 5px var(--cor-letra), 6px 6px var(--cor-letra),
      7px 7px var(--cor-letra), 8px 8px var(--cor-letra);
    transform: translateX(-8px) translateY(-8px);
  }
}

.color-change-2x {
  animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    background-color: var(--cor-fundo);
  }
  25% {
    background-color: var(--cor-fundo);
  }
  100% {
    background-color: var(--cor-fundo-secundario);
  }
}

// loaders
// loading.io

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--cor-letra-secundaria);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
